
<app-header (homepageCalled)="pressHomemethodFromHomeComponent($event) "></app-header>
<br><br>
          <h1>{{HomemethodFromHomeComponentVariable}}</h1>
          <h1 class="login_h1"> you have try {{clickCounter}}  Time</h1>
          <h1 class="login_h1">{{errorMessage}}</h1>
<br><br>
<div id="loginID">
  <label for="fname">First name:</label>
  <input [(ngModel)]="ngusername" type="text" ><br><br>
  <label for="lname">Last name:</label>
  <input [(ngModel)]="ngpassword" type="text" name="lname"><br><br>
  <button id="div_button" (click)="checkNameAndPassword()">Submit</button>
</div>
<app-footer></app-footer>

<!-- <body>
  <h1>{{usernamevalue}}</h1>
  <div id="absoluteCenteredDiv">
      <form class="box">
               <h1>Login Form</h1>
              <input class="username" name="username" type="text" (input)="usernameEvent($event)" placeholder="User Name">
              <input class="username" name="password" type="password"  placeholder="Password">
      </form>
      <button class="button" (click)="checkNameAndPassword('username')">Submit</button>
      <p>Forgot your password? <a class="fpwd" href="#">Click Here!</a></p>
  </div>
</body>
-->
